﻿@model IEnumerable<Group2OnlineBusReservationSystem.Models.Station>
@{
    ViewBag.Title = "Stations Manager";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<h2>Stations Manager</h2>
<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#">Stations</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <p>@Html.ActionLink("Create New", "Create", new { }, new { @class = "btn btn-primary" })</p>
        <table class="table table-bordered">
            <tr class="table-secondary">
                <th>Name</th>
                <th>Description</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.lat)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.lng)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.id })
                    </td>
                </tr>
            }
        </table>
    </div>
</div>