﻿@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<div class="container mt-4 mb-4">
    @using (Html.BeginForm("Checkout", "Home"))
    {
        <div class="home-checkout-tickets mb-3">
            <h4 class="mb-3 font-weight-bold">Seats Information</h4>
            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>Customer detail</th>
                        <th>Ticket detail</th>
                        <th>Price detail</th>
                    </tr>
                </thead>
                <tbody id="seats"></tbody>
                <tfoot>
                    <tr>
                        <td colspan="2"></td>
                        <td>
                            <strong>Total price:</strong>  <span id="total-price"></span> VND
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="home-checkout-booker mb-3">
            <h4 class="mb-3 font-weight-bold">Booker Information</h4>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="inputBookerName" class="col-md-2 text-danger font-weight-bold">Name</label>
                        <div class="col-md-10">
                            <input id="inputBookerName" class="form-control" name="inputBookerNameIn" type="text" placeholder="Full name" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputBookerAddress" class="col-md-2 text-danger font-weight-bold">Address</label>
                        <div class="col-md-10">
                            <input id="inputBookerAddress" class="form-control" name="inputBookerAddressIn" type="text" placeholder="Address" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputBookerID" class="col-md-2 text-danger font-weight-bold">ID</label>
                        <div class="col-md-10">
                            <input id="inputBookerID" class="form-control" name="inputBookerIDIn" type="text" placeholder="Citizenship ID" required minlength="6" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="inputBookerEmail" class="col-md-2 text-danger font-weight-bold">Email</label>
                        <div class="col-md-10">
                            <input id="inputBookerEmail" class="form-control" name="inputBookerEmailIn" type="email" placeholder="Email" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputBookerPhone" class="col-md-2 text-danger font-weight-bold">Phone</label>
                        <div class="col-md-10">
                            <input id="inputBookerPhone" class="form-control" name="inputBookerPhoneIn" type="number" placeholder="Phone number" required minlength="6" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-checkout-payment mb-3">
            <h4 class="mb-3 font-weight-bold">Payment Option</h4>
            <div class="row">
                <div class="col-md-6">
                    <div class="radio mb-3"> 
                        <input type="radio" name="paymentOption" id="paymentOption1" value="paypal" />
                        <span class="home-checkout-payment-option">
                            <img src="~/Content/Images/paypal_logo.png" />
                            Online payment with Paypal
                        </span>
                    </div>
                    <div class="radio mb-3">
                        <input type="radio" name="paymentOption" id="paymentOption2" value="cod" checked />
                        <span class="home-checkout-payment-option">
                            <img src="~/Content/Images/cod.jpg" />
                            Pay at station counters
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-checkout-submit">
            <button class="btn btn-primary" type="submit">Checkout</button>
        </div>
        <input id="hiddenField" name="hiddenField" hidden />
    }
</div>

@section styles {
    <link href="@Url.Content("~/Content/AppStyles/HomeCheckout.css")" rel="stylesheet" />
}

@section scripts {
    <script src="@Url.Content("~/Scripts/AppScripts/HomeCheckout.js")"></script>
}