﻿@{
    ViewBag.Title = "Checkout Result";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<div class="container mt-3 mb-3">
    <div class="home-checkout-result">
        @if (ViewBag.isSuccess)
        {
            <div class="booking-detail">
                <h3 class="mb-3">Payment success !</h3>
                <div class="row">
                    <div class="col-md-6">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th>Booking ID</th>
                                    <td>@ViewBag.bookingDetail.id</td>
                                </tr>
                                <tr>
                                    <th>Total price</th>
                                    <td>@ViewBag.bookingDetail.PaymentDetail.amount (VND)</td>
                                </tr>
                                <tr>
                                    <th>Booker name</th>
                                    <td>@ViewBag.bookingDetail.Customer.name</td>
                                </tr>
                                <tr>
                                    <th>Booker ID</th>
                                    <td>@ViewBag.bookingDetail.Customer.citizenship_id</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <div class="note">
                            <strong class="text-danger">Note: </strong>
                            <br />
                            (1): All the information here are very important. You can take a screenshot or print this page out for further usage
                            <br />
                            (2): Keep booking ID and ticket ID in mind and don't share its to anyone.
                            <br />
                            <button class="btn btn-default" onclick="window.print();">
                                <i class="fas fa-print"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="tickets-detail">
                <h4 class="mb-3">Ticket detail</h4>
                <div class="d-flex flex-wrap">
                    @foreach (var ticket in ViewBag.bookingDetail.Tickets)
                    {
                        <div class="ticket-wrapper m-1">
                            <div class="ticket-root">
                                <strong>Online Bus (ID: @ticket.id)</strong>
                            </div>
                            <div class="ticket-information">
                                <div class="customer-information">
                                    <strong>Name:</strong> @ticket.customer_name
                                    <br />
                                    <strong>CID:</strong> @ticket.citizenship_id
                                </div>
                                <hr />
                                <div class="short-information d-flex mb-1">
                                    <div>
                                        <strong>Seat:</strong>
                                        @foreach (var seat in ViewBag.seats)
                                        {
                                            if (seat.id == ticket.seat_id)
                                            {
                                                <span>@seat.name</span>
                                            }
                                        }
                                        <br />
                                        <strong>Bus:</strong> @ticket.BookingDetail.Journey.Bus.license_plates
                                        <br />
                                        <strong>From:</strong> @ticket.BookingDetail.from_location (@ticket.BookingDetail.start_time)
                                        <br />
                                        <strong>To:</strong> @ticket.BookingDetail.to_location (@ticket.BookingDetail.arrival_time)
                                        <br />
                                        <strong>Price:</strong> @ticket.price VND
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
        else
        {
            <div class="m-5 d-flex justify-content-center align-items-center">
                <h3 class="text-danger">We aren't able to process your request now</h3>
            </div>
        }
    </div>
</div>

@section styles {
    <link href="@Url.Content("~/Content/AppStyles/HomeCheckoutResult.css")" rel="stylesheet" />
}

@section scripts {
    <script src="@Url.Content("~/Scripts/AppScripts/HomeCheckoutResult.js")"></script>
}