﻿@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<div class="home-index">
    <div class="home-hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="search-form">
                        <h3 class="headline-form">Search</h3>
                        <p class="headline-form-small mb-3">Find your bus now !</p>
                        @{Html.RenderAction("SearchJourney", "Reuse");}
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="map">
                        <h4 class="headline-map mb-3">Looking for a bus stop ?</h4>
                        <div id="map-frame"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="home-timetable">
        <div class="container mt-3 mb-3 timetable-table-wrapper">
            <h3 class="mb-3">Timetable</h3>
            <table class="timetable-table table table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Bus</th>
                        <th scope="col">Type</th>
                        <th scope="col">Route</th>
                        <th scope="col">Start</th>
                        <th scope="col">Finish</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var journey in ViewBag.journeys)
                    {
                        <tr>
                            <th>@journey.Bus.license_plates <br /> (@journey.Bus.type)</th>
                            <td>
                                <strong>@journey.type</strong>
                                <br />
                                From: @DateTime.Parse(journey.start_time.ToString()).ToString("h:mm tt")
                                <br />
                                To: @DateTime.Parse(journey.arrival_time.ToString()).ToString("h:mm tt")
                            </td>
                            <td>
                                @foreach (var route in journey.Routes)
                                {
                                    <span>- @route.Station.name -</span>
                                }
                            </td>
                            <td>
                                @DateTime.Parse(journey.start_time.ToString()).ToString("MM/dd/yyyy")
                            </td>
                            <td>
                                @DateTime.Parse(journey.arrival_time.ToString()).ToString("MM/dd/yyyy")
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section styles {
    <link href="@Url.Content("~/Content/AppStyles/HomeIndex.css")" rel="stylesheet" />
}

@section scripts {
    <script src="@Url.Content("~/Scripts/AppScripts/HomeIndex.js")"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRzVi59DosB3gkmwETjEXw3ZMIsH3VmM0&callback=initMap"></script>
}