﻿@model Group2OnlineBusReservationSystem.Models.AppModels.TicketsSearch
@{
    ViewBag.Title = "My Tickets";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<div class="my-tickets">
    <div class="container mt-3 mb-3">
        <div class="row">
            <div class="col-lg-3">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <div class="col-md-12">
                            <h4 class="text-warning">Enter your code</h4>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.bookingId, new { htmlAttributes = new { @class = "form-control", @placeholder = "Booking ID", @min = "0", @required = "required", @autocomplete = "off" } })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.ticketId, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ticket ID (Optional)", @min = "0", @autocomplete = "off" } })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Booker phone", @min = "0", @required = "required", @autocomplete = "off" } })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="submit" value="Search" class="btn btn-default w-100" />
                        </div>
                    </div>
                }
                <div class="card mt-3">
                    <div class="card-body">
                        <h5 class="card-title text-danger">Note</h5>
                        <p class="card-text">In case you can not cancel ticket through website or want to change ticket, please contact us via 1900 7070.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                @if (ViewBag.noResult)
                {
                    <div class="no-result mt-3">
                        <div class="alert alert-primary" role="alert">
                            Please fill the information and try to check ticket again
                        </div>
                        <div class="no-result-bg"></div>
                    </div>
                }
                else
                {
                    <div class="search-result">
                        <div class="alert alert-success" role="alert">
                            We found your tickets
                        </div>
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th class="bg-light">Booking Information</th>
                                    <td colspan="4">
                                        <strong>Booking ID:</strong> @ViewBag.bookingDetail.id
                                        <br />
                                        <strong>Booker name:</strong> @ViewBag.bookingDetail.Customer.name
                                        <br />
                                        <strong>Booker phone:</strong> @ViewBag.bookingDetail.Customer.phone
                                        <br />
                                        <strong>From:</strong> @ViewBag.bookingDetail.from_location (@ViewBag.bookingDetail.start_time)
                                        <br />
                                        <strong>To:</strong> @ViewBag.bookingDetail.to_location (@ViewBag.bookingDetail.arrival_time)
                                        <br />
                                        <strong>Total price:</strong>  @ViewBag.bookingDetail.PaymentDetail.amount (VND)
                                        <br />
                                        <strong>Refund:</strong>  @ViewBag.bookingDetail.PaymentDetail.refund (VND)
                                        <br />
                                        <strong>Payment method:</strong> @ViewBag.bookingDetail.PaymentDetail.type
                                    </td>
                                </tr>
                                <tr>
                                    <th>Ticket ID &darr;</th>
                                    <th>Customer &darr;</th>
                                    <th>Seat &darr;</th>
                                    <th>Price &darr;</th>
                                    <th>Operator &darr;</th>
                                </tr>
                                @foreach (var ticket in ViewBag.tickets)
                                {
                                    <tr>
                                        <td>@ticket.id</td>
                                        <td>@ticket.customer_name</td>
                                        <td>
                                            @foreach (var seat in ticket.BookingDetail.Journey.Bus.Seats)
                                            {
                                                if (seat.id == ticket.seat_id)
                                                {
                                                    <span>@seat.name</span>
                                                }
                                            }
                                        </td>
                                        <td>@ticket.price (VND)</td>
                                        <td>
                                            @if (ticket.price > 0)
                                            {
                                                using (Html.BeginForm("CancelTicket", "Home", FormMethod.Post, new { onsubmit = "if(!confirm('Are you sure you want to do it, this can not be undo?')){return false;}" }))
                                                {
                                                    <input name="bookingId" value="@ViewBag.bookingId" hidden />
                                                    <input name="ticketId" value="@ticket.id" hidden />
                                                    <input name="phone" value="@ViewBag.phone" hidden />
                                                    <button class="btn btn-danger" type="submit">Cancel</button>
                                                }
                                            }
                                            else
                                            {
                                                <button class="btn btn-danger" type="submit" disabled>Canceled</button>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


@section styles {
    <link href="@Url.Content("~/Content/AppStyles/IndexMyTickets.css")" rel="stylesheet" />
}