﻿@{
    ViewBag.Title = "Search Result";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<div class="home-searchresult">
    <div class="search-form-wrapper">
        <div class="container">
            <div class="search-form-lg">
                @{Html.RenderAction("SearchJourneyInline", "Reuse");}
            </div>
            <div class="search-form-sm">
                @{Html.RenderAction("SearchJourney", "Reuse");}
            </div>
        </div>
    </div>
    <div class="search-result">
        <div class="container">
            <div class="journey-table-wrapper mt-3 mb-3">
                <h3 class="mb-3">Departing direction from @ViewBag.startLocation to @ViewBag.endLocation</h3>
                <table class="journey-table table table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Bus</th>
                            <th scope="col">Bus type</th>
                            <th scope="col">Route</th>
                            <th scope="col">Start date</th>
                            <th scope="col">Arrival date</th>
                            <th scope="col">Distance</th>
                            <th scope="col">Operator</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var journeyDetail in ViewBag.journeyDetails)
                        {
                            <tr>
                                <th>@journeyDetail.Bus.license_plates</th>
                                <td>@journeyDetail.Bus.type</td>
                                <td>@journeyDetail.startLocation -> @journeyDetail.endLocation</td>
                                <td>@journeyDetail.startDate</td>
                                <td>@journeyDetail.arrivalDate</td>
                                <td>@journeyDetail.distance KM</td>
                                <td>
                                    <a class="btn btn-primary" href="/Home/SelectSeat/@journeyDetail.id?startLocation=@journeyDetail.startLocation&endLocation=@journeyDetail.endLocation&busType=@journeyDetail.Bus.type&startDate=@journeyDetail.startDate">Book</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section styles {
    <link href="@Url.Content("~/Content/AppStyles/HomeSearchResult.css")" rel="stylesheet" />
}