﻿@{
    ViewBag.Title = "SelectSeat";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<div class="home-selectseat">
    <div class="container">
        <div class="select-form-wrapper">
            <div class="select-nav">
                <button class="nav-back" type="button" onclick="window.history.back();">
                    <i class="fas fa-arrow-left"></i>
                </button>
            </div>
            <div class="select-form row">
                <div class="col-lg-6">
                    <div class="select-diagram">
                        @{Html.RenderAction("SeatGrid", "Reuse", new { seatGrid = ViewBag.seatGrid, journeyDetail = ViewBag.journey });}
                        <div class="mt-3">
                            <table class="bus-table table table-bordered">
                                <tbody>
                                    <tr>
                                        <th>Bus</th>
                                        <td>@ViewBag.journey.Bus.license_plates (@ViewBag.journey.Bus.type)</td>
                                    </tr>
                                    <tr>
                                        <th>Route</th>
                                        <td>@ViewBag.journey.startLocation -> @ViewBag.journey.endLocation</td>
                                    </tr>
                                    <tr>
                                        <th>Start at</th>
                                        <td>@ViewBag.journey.startDate</td>
                                    </tr>
                                    <tr>
                                        <th>Arrival at</th>
                                        <td>@ViewBag.journey.arrivalDate</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="select-cart">
                        @{Html.RenderAction("Cart", "Reuse");}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section styles {
    <link href="@Url.Content("~/Content/AppStyles/HomeSelectSeat.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/AppStyles/SeatGrid.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/AppStyles/Cart.css")" rel="stylesheet" />
}

@section scripts {
    <script src="@Url.Content("~/Scripts/AppScripts/Cart.js")"></script>
    <script src="@Url.Content("~/Scripts/AppScripts/HomeSelectSeat.js")"></script>
}