﻿@model Group2OnlineBusReservationSystem.Models.BusType
@{
    ViewBag.Title = "Buses Manager";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<h2>Delete</h2>
<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Bus Type</dt>
        <dd>@Html.DisplayFor(model => model.name)</dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
