﻿@model Group2OnlineBusReservationSystem.Models.Customer
@{
    ViewBag.Title = "Customer Manager";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<h2>Details</h2>
<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd>@Html.DisplayFor(model => model.name)</dd>

        <dt>Address</dt>
        <dd>@Html.DisplayFor(model => model.address)</dd>

        <dt>Citizenship ID</dt>
        <dd>@Html.DisplayFor(model => model.citizenship_id)</dd>

        <dt>Phone</dt>
        <dd>@Html.DisplayFor(model => model.phone)</dd>

        <dt>Email</dt>
        <dd>@Html.DisplayFor(model => model.email)</dd>
    </dl>
</div>
<h3 class="mt-2 mb-2">Booking List</h3>
<table class="table table-bordered">
    <thead>
        <tr class="table-secondary">
            <th scope="col">ID</th>
            <th scope="col">Bus</th>
            <th scope="col">Price</th>
            <th scope="col">Refund</th>
            <th scope="col">Payment</th>
            <th scope="col">Tickets</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bookingDetail in Model.BookingDetails)
        {
            <tr>
                <td>@bookingDetail.id</td>
                <td>
                    @bookingDetail.Journey.Bus.license_plates (@bookingDetail.Journey.Bus.type)
                    <br />
                    <strong>From:</strong> @bookingDetail.from_location (@bookingDetail.start_time)
                    <br />
                    <strong>To:</strong> @bookingDetail.to_location (@bookingDetail.arrival_time)
                </td>
           
                <td>@bookingDetail.PaymentDetail.amount</td>
                <td>@bookingDetail.PaymentDetail.refund</td>
                <td>@bookingDetail.PaymentDetail.type</td>
                <td>
                    <table class="table table-bordered">
                        <thead>
                            <tr class="table-success">
                                <th>ID</th>
                                <th>Customer</th>
                                <th>CID</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var ticket in bookingDetail.Tickets)
                            {
                                <tr>
                                    <td>@ticket.id</td>
                                    <td>@ticket.customer_name</td>
                                    <td>@ticket.citizenship_id</td>
                                    <td>@ticket.price</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
