﻿@model IEnumerable<Group2OnlineBusReservationSystem.Models.Customer>
@{
    ViewBag.Title = "Customer Manager";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<h2>Customer Manager</h2>
<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#">Customers</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <table id="datatable" class="table table-bordered">
            <thead>
                <tr >
                    <th>Name</th>
                    <th>Address</th>
                    <th>CID</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.citizenship_id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.phone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.email)
                        </td>
                        <td>
                            @Html.ActionLink("Details", "Details", new { id = item.id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section styles {
    <link href="~/Content/datatable/dataTables.bootstrap4.min.css"/>
}

@section scripts {
    <script src="~/Scripts/datatable/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/datatable/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#datatable').DataTable();
        } );
        function filterCustomer() {
            var FName = document.getElementById("FName").value;
            var FCID = document.getElementById("FCID").value;
            window.location.href = `/Customers/Index/?FName=${FName}&FCID=${FCID}`;
        }
    </script>
}