﻿@model Group2OnlineBusReservationSystem.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<h3>@ViewBag.Title</h3>
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account</h4>
    <hr />
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-5 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-5">Role</label>
                <div class="col-md-10">
                    @Html.DropDownList("Role", null, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-5 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-5 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label class="col-md-5 control-label">Fullname</label>
                <div class="col-md-10">
                    <input class="form-control" name="Fullname" type="text" placeholder="Fullname" required />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-5 control-label">Address</label>
                <div class="col-md-10">
                    <input class="form-control" name="Address" type="text" placeholder="Address" required />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-5 control-label">Citizenship ID</label>
                <div class="col-md-10">
                    <input class="form-control" name="CitizenshipID" type="number" placeholder="Citizenship ID" required />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-5 control-label">Phone</label>
                <div class="col-md-10">
                    <input class="form-control" name="Phone" type="number" placeholder="Phone" required />
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-5">
            <input type="submit" class="btn btn-success" value="Register" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
