﻿@model Group2OnlineBusReservationSystem.Models.Price
@{
    ViewBag.Title = "Price Manager";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<h2>Edit</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Price</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            <label class="control-label col-md-5">Bus Type</label>
            <div class="col-md-5">
                @Html.DropDownList("bus_type", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.bus_type, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-5">Price</label>
            <div class="col-md-5">
                @Html.EditorFor(model => model.price1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.price1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-5">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
