﻿@model IEnumerable<Group2OnlineBusReservationSystem.Models.Price>
@{
    ViewBag.Title = "Price Manager";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<h2 class="mb-3">Price Manager</h2>
<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#">Prices</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        @Html.ActionLink("Create New", "Create", new { }, new { @class = "btn btn-primary mb-3" })
        <table class="table table-bordered">
            <tr class="table-secondary">
                <th>Bus Type</th>
                <th>Price (VND/KM)</th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.bus_type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.price1)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.id })
                    </td>
                </tr>
            }
        </table>
    </div>
</div>