﻿@model Group2OnlineBusReservationSystem.Models.Bus
@{
    ViewBag.Title = "Buses Manager";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<h2>Details</h2>
<div>
    <h4>Bus Detail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Bus Type</dt>
        <dd>@Html.DisplayFor(model => model.type)</dd>

        <dt>License Plate</dt>
        <dd>@Html.DisplayFor(model => model.license_plates)</dd>

        <dt>Driver Name</dt>
        <dd>@Html.DisplayFor(model => model.Employee.name)</dd>
    </dl>
</div>
<table class="table table-bordered">
    <thead>
        <tr class="table-secondary">
            <th scope="col">Route</th>
            <th scope="col">Started At</th>
            <th scope="col">Finished At</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var journey in ViewBag.bus.Journeys)
        {
            <tr>
                <td>
                    @foreach (var route in journey.Routes)
                    {
                        <span>@route.Station.name -></span>
                    }
                </td>
                <td>@journey.start_time</td>
                <td>@journey.arrival_time</td>
            </tr>
        }
    </tbody>
</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>