﻿@model IEnumerable<Group2OnlineBusReservationSystem.Models.Bus>
@{
    ViewBag.Title = "Buses Manager";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<h2 class="mt-3 mb-3">Buses Manager</h2>
<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#">Buses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Journeys">Journeys</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/BusTypes">Bus Types</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        @Html.ActionLink("Create New", "Create", new { }, new { @class = "btn btn-primary mb-3" })
        <table class="table table-bordered">
            <tr class="table-secondary">
                <th>Bus Type</th>
                <th>License Plate</th>
                <th>Driver Name (Employee ID)</th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.license_plates)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Employee.name)
                        <strong>(ID: @Html.DisplayFor(modelItem => item.Employee.id))</strong>
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.id })
                    </td>
                </tr>
            }
        </table>
    </div>
</div>