﻿@model Group2OnlineBusReservationSystem.Models.Journey
@{
    ViewBag.Title = "Buses Manager";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<h2>Create</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Journey</h4>
        <hr />
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="control-label col-md-12">License Plate</label>
                    <div class="col-md-12">
                        @Html.DropDownList("bus_id", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-12">Type</label>
                    <div class="col-md-12">
                        <select class="form-control" name="type">
                            <option value="Daily" selected>Daily</option>
                            <option value="Single">Single</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="control-label col-md-12 font-weight-bold">Start Time</label>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.start_time, new { htmlAttributes = new { @class = "form-control datetime-picker", @required = "required" } })
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="control-label col-md-12 font-weight-bold">Finish Time</label>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.arrival_time, new { htmlAttributes = new { @class = "form-control datetime-picker", @required = "required" } })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2 mb-2">
            <div class="col-lg-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                <button class="btn btn-primary" type="button" onclick="addNewStop()">Add New Stop</button>
                            </th>
                            <th>Routes Information</th>
                        </tr>
                    </thead>
                    <tbody id="routes"></tbody>
                </table>
            </div>
        </div>
        <input hidden name="hiddenField" id="hiddenField" />
        <datalist id="stations">
            @foreach (var station in ViewBag.stations)
            {
                <option value="@station.id">@station.name</option>
            }
        </datalist>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section styles {
    <link href="@Url.Content("~/Content/AppStyles/jquery.datetimepicker.min.css")" rel="stylesheet" />
}

@section scripts {
    <script src="@Url.Content("~/Scripts/AppScripts/jquery.datetimepicker.full.min.js")"></script>
    <script type="text/javascript">
        (function () {
            localStorage.setItem("routes", JSON.stringify([]));
        })();

        $(function () {
            $('.datetime-picker').datetimepicker({
                inline: true
            });
        });

        window.addNewStop = () => {
            let routes = localStorage.getItem("routes") ? JSON.parse(localStorage.getItem("routes")) : [];
            let id = routes.length ? routes[routes.length - 1] + 1 : 0;
            routes.push(id);
            localStorage.setItem("routes", JSON.stringify(routes));
            document.getElementById(`hiddenField`).value = JSON.stringify(routes);
            $("#routes").append(`
                        <tr>
                            <td></td>
                            <td>
                                <div class="card">
                                    <div class="card-body">
                                        <div class="form-group row">
                                            <label class="col-sm-5 col-form-label">Station ID</label>
                                            <div class="col-sm-7">
                                                <input class="form-control" name="inputStopStation${id}" type="text" placeholder="Stop Station" required list="stations">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-5 col-form-label">Time From Last Location</label>
                                            <div class="col-sm-7">
                                                <input class="form-control time-picker" name="inputTimeFLL${id}" type="text" placeholder="Time From Last Location" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-5 col-form-label">Distance From Last Location (Kilometer)</label>
                                            <div class="col-sm-7">
                                                <input class="form-control" name="inputDistanceFLL${id}" type="number" placeholder="Distance From Last Location" min="1" max="1000" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>`);
            $('.time-picker').datetimepicker({
                datepicker: false,
                format: 'H:i'
            });
        }
    </script>
}
