﻿@model Group2OnlineBusReservationSystem.Models.Journey
@{
    ViewBag.Title = "Buses Manager";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<h2>Details</h2>
<hr />
<div>
    <h4 class="mt-2 mb-2">Journey</h4>
    <table class="table table-bordered">
        <thead>
            <tr class="table-primary">
                <th>Bus</th>
                <th>Driver</th>
                <th>Type</th>
                <th>Start</th>
                <th>Finish</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <strong>@Model.Bus.license_plates</strong>
                    <br />
                    @Model.Bus.type
                </td>
                <td>
                    <strong>@Model.Bus.Employee.name</strong>
                    <br />
                    (ID: @Model.Bus.Employee.id)
                </td>
                <td>
                    @Model.type
                    <br />
                    From: @DateTime.Parse(Model.start_time.ToString()).ToString("h:mm tt")
                    <br />
                    To: @DateTime.Parse(Model.arrival_time.ToString()).ToString("h:mm tt")
                </td>
                <td>@DateTime.Parse(Model.start_time.ToString()).ToString("MM/dd/yyyy")</td>
                <td>@DateTime.Parse(Model.arrival_time.ToString()).ToString("MM/dd/yyyy")</td>
            </tr>
        </tbody>
    </table>
    <h4 class="mt-2 mb-2">Routes</h4>
    <table class="table table-bordered">
        <thead>
            <tr class="table-success">
                <th></th>
                <th>Station</th>
                <th>Time From Last Location</th>
                <th>Distance From Last Location</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var route in Model.Routes)
            {
                <tr>
                    <th>&#8595;</th>
                    <th>@route.Station.name</th>
                    <td>@route.time_from_previous_station (H:M:S)</td>
                    <td>@route.distance_from_previous_station (Kilometer)</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
