﻿@model IEnumerable<Group2OnlineBusReservationSystem.Models.Journey>
@{
    ViewBag.Title = "Buses Manager";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<h2 class="mt-3 mb-3">Buses Manager</h2>
<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link" href="/Buses">Buses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">Journeys</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/BusTypes">Bus Types</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        @Html.ActionLink("Create New", "Create", new { }, new { @class = "btn btn-primary mb-3" })
        <table class="table table-bordered">
            <tr class="table-secondary">
                <th>Bus</th>
                <th>Type</th>
                <th>Routes</th>
                <th>Start</th>
                <th>Finish</th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <strong>@item.Bus.license_plates</strong>
                        <br />
                        @item.Bus.type
                    </td>
                    <td>
                        @item.type
                        <br />
                        From: @DateTime.Parse(item.start_time.ToString()).ToString("h:mm tt")
                        <br />
                        To: @DateTime.Parse(item.arrival_time.ToString()).ToString("h:mm tt")
                    </td>
                    <td>
                        @foreach (var route in item.Routes)
                        {
                            <span>- @route.Station.name -</span>
                        }
                    </td>
                    <td>@DateTime.Parse(item.start_time.ToString()).ToString("MM/dd/yyyy")</td>
                    <td>@DateTime.Parse(item.arrival_time.ToString()).ToString("MM/dd/yyyy")</td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.id })
                        <br />
                        @Html.ActionLink("Delete", "Delete", new { id = item.id })
                    </td>
                </tr>
            }
        </table>
    </div>
</div>