﻿@model Group2OnlineBusReservationSystem.Models.Employee
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<h2>Edit</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Employee</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-5">Name</label>
            <div class="col-md-5">
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-5">Adress</label>
            <div class="col-md-5">
                @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-5">Citizenship ID</label>
            <div class="col-md-5">
                @Html.EditorFor(model => model.citizenship_id, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-5">Phone</label>
            <div class="col-md-5">
                @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>
        @Html.HiddenFor(model => model.id)
        @Html.DropDownList("account_id", null, htmlAttributes: new { @class = "form-control", @hidden = "hidden" })
        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", @hidden = "hidden" } })
        @Html.EditorFor(model => model.created_at, new { htmlAttributes = new { @class = "form-control", @hidden = "hidden" } })
        @Html.EditorFor(model => model.modified_at, new { htmlAttributes = new { @class = "form-control", @hidden = "hidden" } })
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>