﻿@model IEnumerable<Group2OnlineBusReservationSystem.Models.Employee>
@{
    ViewBag.Title = "Employees Manager";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<h3 class="mt-3 mb-3">Employees Manager</h3>
<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#">Employee</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        @Html.ActionLink("Create New", "Register", "Account", new { }, new { @class = "btn btn-primary mb-3" })
        <table class="table table-bordered">
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Citizenship ID</th>
                <th>Phone</th>
                <th>Email</th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.citizenship_id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.email)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.id })
                    </td>
                </tr>
            }
        </table>
    </div>
</div>