﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Online Bus Reservation System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous" />
    <link href="@Url.Content("~/Content/themes/base/jquery-ui.min.css")" rel="stylesheet" />
    @RenderSection("styles", required: false)
</head>
<body>
    <nav class="main-navbar navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="~/Content/Images/logo.png" width="30" height="30" class="d-inline-block align-top">
                Online Bus
            </a>
            <div class="collapse navbar-collapse" id="navbarToggler">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/Home/Index">HOME</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/Home/MyTickets">MY TICKETS</a>
                    </li>
                </ul>
                <button class="btn btn-warning" onclick="toCart()">
                    <i class="fas fa-shopping-cart"></i> Cart
                </button>
                @if (Request.IsAuthenticated)
                {
                    <a class="btn btn-secondary ml-1" href="/Buses">Manager Console</a>
                }
                else
                {
                    <a class="btn btn-secondary ml-1" href="/Account/Login">Login</a>
                }
            </div>
        </div>
    </nav>
    @RenderBody()
    <div class="container">
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Copyright by Group 2 FPT Aptech HN</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")"></script>
    <script type="text/javascript">
        $(function () {
            $('.date-picker').datepicker({
                minDate: new Date()
            });
        });

        window.toCart = () => {
            const seats = localStorage.getItem("seats") ? JSON.parse(localStorage.getItem("seats")) : [];
            if (seats.length < 1) {
                alert("Your cart is empty!");
            } else {
                const seat = seats[0];
                window.location.href = `/Home/SelectSeat/${seat.journeyId}?startLocation=${seat.startLocation}&endLocation=${seat.endLocation}&busType=${seat.busType}&startDate=${seat.startDate}`;
            }
        }
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
