﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Online Bus Reservation System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="@Url.Content("~/Content/AppStyles/simple-sidebar.css")" rel="stylesheet" />
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="d-flex" id="wrapper">
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading d-flex justify-content-center align-items-center">
                <img src="~/Content/Images/logo.png" width="40" height="40" />
                <p class="m-0 ml-1">Online Bus Ticket</p>
            </div>
            <div class="list-group list-group-flush">
                <a href="/Employees" class="list-group-item list-group-item-action bg-light">Human Resource</a>
                <a href="/Buses" class="list-group-item list-group-item-action bg-light">Buses</a>
                <a href="/Stations" class="list-group-item list-group-item-action bg-light">Stations</a>
                <a href="/Prices" class="list-group-item list-group-item-action bg-light">Prices</a>
                <a href="/Customers" class="list-group-item list-group-item-action bg-light">Customers</a>
                <a href="/" class="list-group-item list-group-item-action bg-light">New Order</a>
            </div>
        </div>
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <button class="btn btn-warning" id="menu-toggle">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    @Html.Partial("_LoginPartial")
                </div>
            </nav>
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
