﻿<div class="card border-dark">
    <h5 class="card-header">
        <span>
            <i class="fas fa-shopping-cart"></i>
        </span>
        Cart
    </h5>
    <div class="card-body">
        <div id="cart"></div>
        <button id="cart-checkout" class="btn btn-primary">Buy now</button>
    </div>
</div>