﻿@model Group2OnlineBusReservationSystem.Models.AppModels.JourneySearch

@using (Html.BeginForm("Index", "Home")) 
{
    @Html.AntiForgeryToken()
    <div class="form-group d-flex justify-content-center">
        <div class="col-md-10 input-group">
            @Html.EditorFor(model => model.startLocation, new { htmlAttributes = new { @class = "form-control", placeholder = "Start Location", @required = "required", @list = "startLocations" } })
            <div class="input-group-append">
                <span class="input-group-text">
                    <i class="fas fa-map-marker-alt"></i>
                </span>
            </div>
            <datalist id="startLocations">
                @foreach (var station in ViewBag.stations)
                {
                    <option value="@station" />
                }
            </datalist>
        </div>
    </div>

    <div class="form-group d-flex justify-content-center">
        <div class="col-md-10 input-group">
            @Html.EditorFor(model => model.endLocation, new { htmlAttributes = new { @class = "form-control", placeholder = "End Location", @required = "required", @list = "endLocations" } })
            <div class="input-group-append">
                <span class="input-group-text">
                    <i class="fas fa-map-marker-alt"></i>
                </span>
            </div>
            <datalist id="endLocations">
                @foreach (var station in ViewBag.stations)
                {
                    <option value="@station" />
                }
            </datalist>
        </div>
    </div>

    <div class="form-group d-flex justify-content-center">
        <div class="col-md-10 input-group">
            <select class="form-control" name="busType">
                @foreach (var busType in ViewBag.busTypes)
                {
                    <option value="@busType">@busType</option>
                }
            </select>
            <div class="input-group-append">
                <span class="input-group-text">
                    <i class="fas fa-car"></i>
                </span>
            </div>
        </div>
    </div>

    <div class="form-group d-flex justify-content-center">
        <div class="col-md-10 input-group">
            @Html.EditorFor(model => model.startDate, new { htmlAttributes = new { @class = "form-control date-picker", placeholder = "Start Date", @required="required", @autocomplete = "off" } })
            <div class="input-group-append">
                <span class="input-group-text">
                    <i class="fas fa-calendar"></i>
                </span>
            </div>
        </div>
    </div>

    <div class="form-group d-flex justify-content-center">
        <div class="col-md-10">
            <input type="submit" value="Search" class="btn btn-default w-100" />
        </div>
    </div>
}