﻿<div class="hsr-bus-diagram">
    <div class="hsr-bus-cockpit">
        <div class="hsr-bus-driver-seat">
            <img src="~/Content/Images/wheel.png" />
        </div>
    </div>
    <div class="hsr-bus-exit">
        <p>←Exit→</p>
    </div>
    <div class="hsr-bus-cabin">
        @foreach (var seatRow in ViewBag.seatGrid)
        {
            <div class="hsr-bus-cabin-row">
                <div class="hsr-bus-left-cabin">
                    @{int countRight = 1;}
                    @foreach (var seat in seatRow)
                    {
                        if (countRight == 1 || countRight == 2)
                        {
                            if (seat.isBooked)
                            {
                                <div class="hsr-bus-seat">
                                    <img id="seat_@seat.id" src="~/Content/Images/booked_seat.gif" />
                                    <strong>@seat.name</strong>
                                </div>
                            }
                            else
                            {
                                <div class="hsr-bus-seat">
                                    <img id="seat_@seat.id"
                                         src="~/Content/Images/available_seat.gif"
                                         onclick="selectSeat(
                                         @seat.id,
                                        '@seat.name',
                                        '@ViewBag.journeyDetail.Bus.type',
                                         @ViewBag.journeyDetail.id,
                                        '@ViewBag.journeyDetail.startLocation',
                                        '@ViewBag.journeyDetail.startDate',
                                        '@ViewBag.journeyDetail.endLocation',
                                        '@ViewBag.journeyDetail.arrivalDate',
                                        '@ViewBag.journeyDetail.Bus.license_plates',
                                         @ViewBag.journeyDetail.distance,
                                         @ViewBag.journeyDetail.price)" />
                                    <strong>@seat.name</strong>
                                </div>
                            }
                        }
                        countRight += 1;
                    }
                </div>
                <div class="hsr-bus-right-cabin">
                    @{int countLeft = 1;}
                    @foreach (var seat in seatRow)
                    {
                        if (countLeft == 3 || countLeft == 4)
                        {
                            if (seat.isBooked)
                            {
                                <div class="hsr-bus-seat">
                                    <img id="seat_@seat.id" src="~/Content/Images/booked_seat.gif" />
                                    <strong>@seat.name</strong>
                                </div>
                            }
                            else
                            {
                                <div class="hsr-bus-seat">
                                    <img id="seat_@seat.id"
                                         src="~/Content/Images/available_seat.gif"
                                         onclick="selectSeat(
                                         @seat.id,
                                        '@seat.name',
                                        '@ViewBag.journeyDetail.Bus.type',
                                         @ViewBag.journeyDetail.id,
                                        '@ViewBag.journeyDetail.startLocation',
                                        '@ViewBag.journeyDetail.startDate',
                                        '@ViewBag.journeyDetail.endLocation',
                                        '@ViewBag.journeyDetail.arrivalDate',
                                        '@ViewBag.journeyDetail.Bus.license_plates',
                                         @ViewBag.journeyDetail.distance,
                                         @ViewBag.journeyDetail.price)" />
                                    <strong>@seat.name</strong>
                                </div>
                            }
                        }
                        countLeft += 1;
                    }
                </div>
            </div>
        }
    </div>
</div>