﻿.home-hero {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url("../Images/main-bg.jpg");
}

.search-form {
    height: 400px;
    padding: 15px 10px;
    background-color: #012b72;
}

.headline-form, .headline-form-small {
    margin: 0;
    text-align: center;
    color: var(--light);
}

.headline-form {
    font-weight: 600;
}

.headline-form-small {
    font-style: italic;
}

.map {
    padding: 20px 0;
    height: 400px;
}

.headline-map {
    font-weight: 600;
    color: var(--gray);
}

#map-frame {
    width: 100%;
    height: calc(100% - 40px);
    border: 2.5px solid #012b72;
}

.timetable-table-wrapper {
    overflow: auto;
}

.timetable-table {
    min-width: 1000px;
 
}

@media (max-width: 992px) {
    .map {
        display: none;
    }
}