﻿.home-selectseat {
    margin: 20px 0;
}

.select-form-wrapper {
    width: 100%;
    padding: 10px;
    border: 2.5px solid #012b72;
    border-radius: 5px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .3);
    background-color: var(--light);
}

.nav-back {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    margin-bottom: 10px;
    border: none;
    border-radius: 50%;
    color: white;
    background-color: #012b72;
}

.select-form {
    display: flex;
}

.bus-table {
    max-width: 460px;
    margin: 10px auto;
}