﻿.search-form-wrapper {
    padding: 50px 0;
    background-color: #012b72;
}

.search-form-lg {
    padding: 20px;
    border-radius: 5px;
    background-color: var(--light);
}

.search-form-sm {
    display: none;
    padding: 10px 0;
    border-radius: 5px;
    background-color: var(--light);
}

.search-result {
    padding: 20px 0;
}

.journey-table-wrapper {
    overflow: auto;
}

.journey-table {
    min-width: 1000px;
}

@media (max-width: 768px) {
    .search-form-lg {
        display: none;
    }

    .search-form-sm {
        display: block;
    }
}