﻿.home-checkout-result {
    width: 100%;
    padding: 10px;
    border: 2.5px solid #012b72;
    border-radius: 5px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .3);
    background-color: var(--light);
}

.note {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--gray);
}

.ticket-wrapper {
    min-width: 400px;
    border: 1px solid var(--gray);
    border-radius: 5px;
}

.ticket-root {
    padding: 5px 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: var(--red);
}

.ticket-root strong {
    color: var(--light);
}

.ticket-information {
    padding: 5px;
}