﻿.no-result-bg {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../Images/search-ticket.png");
}
