﻿.hsr-bus-diagram {
    display: flex;
    width: 100%;
    max-width: 460px;
    margin: 0 auto;
    border: 2.5px solid #012b72;
    border-radius: 5px;
    overflow: auto;
}

.hsr-bus-driver-seat {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 130px;
    margin: 5px;
    border: 1px solid var(--danger);
    background-color: var(--light);
}

.hsr-bus-driver-seat img {
    width: 40px;
    height: 40px;
}

.hsr-bus-exit {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-left: 1px solid var(--danger);
    border-right: 1px solid var(--danger);
    border-top: 10px solid #66ff66;
    border-bottom: 10px solid #66ff66;
    background-color: var(--light);
}

.hsr-bus-exit p {
    transform: rotate(90deg);
    margin: 0;
}

.hsr-bus-cabin {
    display: flex;
}

.hsr-bus-cabin-row {
    margin: 5px;
}

.hsr-bus-left-cabin, .hsr-bus-right-cabin {
    padding: 5px;
    border: 1px solid #012b72;
}

.hsr-bus-left-cabin {
    margin-bottom: 20px;
}

.hsr-bus-seat {
    display: flex;
    flex-direction: column;
}

.hsr-bus-seat img {
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 2.5px;
}

.hsr-bus-seat img:hover {
    cursor: pointer;
    background-color: #D3D3D3;
}

.hsr-bus-seat strong {
    text-align: center;
}